@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(2, 2, 2, 0.2);
}

header {
    background-color: rgba(196, 175, 99, 0.4);
    height: 10rem;
    display: flex;
    justify-content: space-around;
}

.title {
    width: 25em;
}

.title img {
    width: 100%;
    height: 10em;
}

nav {
    width: 47em;
    display: flex;
    align-items: center;
}

.navegacao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navegacao li {
    display: inline-block;
    border: 1px solid white;
    margin-right: 1em;
    margin-top: 10px;
    list-style: none;
    border-radius: 25px;
}

.navegacao li a {
    background-color: rgba(36, 36, 36, 0.5);
    display: block;
    padding: 1.1em 3em;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1em;


}

.navegacao li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}


main {
    background-image: url(../Imagens/banner-home-1.jpg);
    background-position: right center;
    background-size: cover;
    height: 100%;

}

.quadro {
    background-color: rgba(130, 130, 130, 0.8);
    margin: auto;
    width: 80%;
    height: 100%;
    display: block;
}

.quadro-1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.agendamento {
    background-color: rgba(196, 175, 99, 0.443);
    padding: 1em 5em;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 3px;
    text-align: center;
    width: 40rem;
    margin-top: 2em;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.365);
}

.agendamento h1 {
    font-size: 2rem;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px black;
    padding: 1em 1em;
}

.agendamento p {
    font-size: 1.4rem;
    text-indent: 0.5rem;
    text-align: justify;

}

.historia {
    background-color: rgba(196, 175, 99, 0.443);
    padding: 1em 5em;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 3px;
    text-align: center;
    width: 40rem;
    margin-top: 2em;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.365);

}

.historia h1 {
    font-size: 2rem;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px black;
    padding: 1em 1em;
}

.historia p {
    font-size: 1.4rem;
    text-indent: 0.5rem;
    text-align: justify;

}

.titulo {
    text-align: center;
    margin-top: 4em;
}

.titulo h2 {
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.828);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.571);
}

.slider {
    margin: 36px auto;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 932px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1500px;
    height: 1000px;
}

.manual-navigation {
    position: absolute;
    width: 59%;
    display: flex;
    justify-content: center;
    margin: -40px;
    margin-left: 0;
    margin-right: 0;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation.auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation.auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation.auto div:not(:last-child) {
    margin-top: 40px;
}

.manual-btn.active {
    background-color: white;
}

.funcionamento {
    width: 100%;
    height: 15rem;
    background-color: rgba(196, 175, 99, 0.443);
    display: flex;
    align-items: center;

}

.funcionamento h3 {
    font-size: 2.5rem;
    text-align: center;
    height: 5em;
    padding: 2em 0.2em;
}


.funcionamento p {
    font-size: 2.5rem;
    text-align: center;
}

.funcionamento-horario{
    border-right:1px solid black;
    padding:1em 0.5em;
}



@media screen and (max-width:400px) {

    header {
        background-color: rgba(156, 99, 196, 0.4);
        height: 9rem;
    }

    .title img {
        height: 2em;
        width: 2em;
    }
}